*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

:root {
    --color-body-background: #f2f2f2;
    --color-content-background: #ffffff;
    --color-text: #282828;
    --color-border: #666666;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-body-background: #181818;
        --color-content-background: #282828;
        --color-text: #ffffff;
        --color-border: #666666;
    }
}

html,
body {
    height: 100vh;
    height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;

    color: var(--color-text);
    background: var(--color-body-background);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    max-width: 720px;
    margin: 2rem auto;
}

h1 {
    margin-bottom: 1rem;
}

.card {
    padding: 2rem 4rem;

    border-radius: 20px;
    border: 1px solid var(--color-border);

    background: var(--color-content-background);

    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
}
