<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>TimeUp</title>
        <link href="style.css" rel="stylesheet" />

        <meta http-equiv="refresh" content="30" />
    </head>
    <body>
        <div class="content">
            <h1>TimeUp</h1>
            {{#each endpoints}}
            <div class="table">
                <div class="header">
                    <div class="name {{this.state}}">{{this.name}}</div>
                    <div class="state {{this.state}}">
                        {{this.verboseState}}
                    </div>
                </div>
                <div class="outages">
                    Previous outages: {{#each this.outages}}
                    <div class="outage {{this.type}}">{{this.text}}</div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </body>
</html>
